* {
    font-family: 'Dosis', sans-serif;
    color: white;
}


:root{
    --teksbiasa: 'Dosis', sans-serif;
    --acsentColor: #00ff42;
    --mainColor: #1f1f3d;
    --mainHover: #ff5540;
}
body {
    background-color: var(--mainColor);
}
/* Back To Top */

#tombolNya {
  z-index: 99; /* agar tak tersembunyi di balik element lain */
  font-size: 18px;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 20px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  outline: none;
  background-color: var(--mainColor);
  box-shadow: 0 0 5px black;
}

#tombolNya i {
  color: white;
}

/* Navigasi Bar */

.nav{
    position: static;
    padding: 0 1rem;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(3px);
    width: 100%;
    height: ;
}

.navigasi {
    width: 100%;
    padding-top: 10px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigasi-logo {
    font-size: 1.5rem;
}

.navigasi-logo a {
    text-decoration: none;
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
}

.navigasi-logo a i {
    color: var(--acsentColor);
}

.navigasi-link {
    display: flex;
    gap: 2rem;
}

.navigasi-link li{
    list-style: none;
    padding-top: 10px;
    font-family: var(--textbiasa);
}

.navigasi-link li a{
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    transition: 0.5s;
}

.navigasi-link li a:hover{
    color: var(--acsentColor);
    letter-spacing: 2px;
}

.navigasi-button {
    background-color: var(--acsentColor);
    padding: 0.3rem 0.3rem;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    border:3px solid black;
    transition: 0.7s;
}

.navigasi-button:hover {
    background-color: var(--mainHover);
    scale: 1.02;
}

.navigasi-togle {
    display: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}

/* Navigasi Dropdown */

.navigasi-dropdown{
    height: 0;
    display:none;
    position:absolute;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 0 5px rgba(0, 23, 61);
    top: 65px;
    left: 0;
    width: 100%;
    margin: 0;
    background-color: rgba(0, 23, 61, 0.2);
    backdrop-filter: blur(5px);
    overflow: hidden;
    transition: 1s;
}

.navigasi-dropdown.open {
    height: 200px;
}

.navigasi-dropdown li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigasi-dropdown li a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    transition: 0.5s;
}

.navigasi-dropdown .navigasi-button {
    width: 300px;
    display: flex;
    justify-content: center;
}

.navigasi-dropdown li a:hover {
    color: var(--acsentColor);
    letter-spacing: 2px;
}

/* Navigasi Dropdown End */

/* Header */

.section1 {
  margin-left: 1rem;
}

.judul h1 {
    font-family: "Archivo Black", sans-serif;
    margin-top: 50px;
    font-size: 2rem;
}
.uploaders h5 {
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
}
.halaman p {
    font-size: 0.7rem;
}
.artikel {
    margin: ;
}
.image1 {
    height:300px;
    width:350px;
    margin-top:30px;
}
.image2 {
    height:250px;
    width:350px;
    margin-top:30px;
}
.image3 {
    height:200px;
    width:350px;
    margin-top:30px;
}
.daftarisi{
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}
.daftarisi h4{
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
}
.daftarisi ol li {
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 0.8rem;
    margin: 10px 0 10px 0;
}
.daftarisi ol li a {
    font-family: "Poppins", sans-serif;
}
.artikel p{
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
}
.artikel h3 {
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin: 30px 0 30px 0;
}
.artikel h5 {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin: 10px 0 10px 0;
}
.artikel ul li {
    margin: 0 20px 0 20px;
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
}
.artikel ul li b{
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

.artikel ol li {
    margin: 0 20px 0 20px;
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
}
.artikel ol li b{
    font-family: "Poppins", sans-serif;
    font-size: 0.9rem;
}
.artikelimage {
    height:100%;
    width:100%;
    margin-top:30px
}
/* Header End */
.section3 {
  margin: 20px;
}
.badge{
  padding: ;
}
.badge p{
  background-color: white;
  color:black;
  box-shadow: 0 0 5px white;
  font-size: 1rem;
  font-weight: bold;
  padding: 8px;
  border-radius: 5px;
}

.badgegambar img {
  height: 75px;
  width: 75px;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
}
.badgeinfo h5{
  font-size: 1.2rem;
  color: white;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.badgeinfo p {
  font-size: 0.8rem;
  color: white;
  font-family: "Poppins", sans-serif;
}
/* Copyright */

.Copyright {
    background-color: #181930;
    padding: 20px;
}
.Copyright h2{
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

/* Copyright End */

/* Responsive Navbar */

@media (min-width: 800px){
.judul h1{
    font-size: 3rem;
}
.uploaders h5 {
    font-size: 1.8rem;
}
.halaman p {
    font-size: 1.8rem;
}
.image1 {
    height:400px;
    width:500px;
    margin-top:30px;
}
.image2 {
    height:400px;
    width:600px;
    margin-top:30px;
}
.image3 {
    height:400px;
    width:600px;
    margin-top:30px;
}
.daftarisi h4{
    font-size: 1.4rem;
}
.daftarisi ol li {
    font-size: 1.1rem;
}
.daftarisi ol li a {
    font-family: "Poppins", sans-serif;
}
.artikel p{
    font-size: 1.2rem;
}
.artikel h3 {
    font-size: 1.8rem;
}
.artikel h5 {
    font-size: 1.3rem;
}
.artikel ul li {
    font-size: 1.2rem;
}
.artikel ul li b{
    font-size: 1.3rem;
}

.artikel ol li {
    font-size: 1.2rem;
}
.artikel ol li b{
    font-size: 1.2rem;
}
  .badge p{
  background-color: white;
  color:black;
  box-shadow: 0 0 5px white;
  font-size: 1rem;
  font-weight: bold;
  padding: 8px;
  border-radius: 5px;
}

.badgegambar img {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
}
.badgeinfo h5{
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.badgeinfo p {
  font-size: 1.2rem;
  color: white;
  font-family: "Poppins", sans-serif;
}
}

@media (min-width: 767px){

}
/* Responsive Navbar End */

/* Navigasi Bar End*/
